.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    width: 90%;
    margin: auto;
    text-align: right;
    padding-right: 40px;
}
.freeTrialButton{
    background-color: rgb(12, 65, 139);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}


/* article part  */
.articleDescrip{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}

.additionalFeatures{
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 80px;

}

.features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.singleFeatures{
    padding: 30px;
}

.business{
    margin: auto;
    width: 80%;
    text-align: center;
}


.pricing{
    margin: auto;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
    padding-top: 60px;
    margin-top: 100px;

}

.subPricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.salesAndMarketing{
    background-color: #ffffff;
    border: 1px solid #34c4a5;
    border-radius: 5px;
    margin: 10px;
}

.allInOne{
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}

.large {
    font-size: 24px; /* Adjust the size as needed */
}
.small {
    font-size: 14px; /* Adjust the size as needed */
}

.featuresColors{
    color: gray;
    text-align: left;
    padding-left: 15px;
}

.salesDescription{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.singleDescription{
    border-top: 2px solid #9bbb65;
    border-radius: 5px;
    margin-right: 20px;
    background-color: #ffffff;
}


.hrr{
    width: 80%;
    margin: auto;
}

.freeAccess{
    margin-top: 80px;
}

.spancolor{
    color: blue;
}

.restroGreen{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}