body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navBar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 95.4%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
}

.insideNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insideNav img {
  height: 30px;
  width: 30%;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  min-width: 250px;
  z-index: 100;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.getStartedButton {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 7px 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}
.insideNav a{
  text-decoration: none;
  color: white;
  margin-left: 15px;
}



/* .navBar{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 95.4%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
}
.insideNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.insideNav img{
    height: 30px;
    width: 30%;
}

.insideNav a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
    
.getStartedButton{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 
} */

.image-container {
  position: relative;
  display: inline-block;
  max-width: 100%; 
  overflow: hidden;
}

.tag {
  position: absolute;
  top: 40%; 
  transform: translateY(-50%);
  left: 50px; 
  color: white;
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 5px;
}

.tag p{
  font-size: 17px;
}

.tag button{
  
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 

}

.tag button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.image-container img {
  display: block;
    width: auto;
    max-height: 660px;
    height: auto;
}

.figureContainer{
  margin: auto;
  width: 85%;
  text-align: center;
  margin-top: 60px;
}

.figureImage{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.articleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 85%;
  margin-top: 80px;

}

.articleContainer div{
  margin-left: 25px;
}

.articleContainerVertical{
  text-align: center;
  margin: auto;
  width: 85%;
  margin-top: 60px;
}

.articleBlog {
  background-color: #496065;
  width: 100%; 
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 60px;
}

.subArticleBlog{
  width: 80%;
}

.megaGallery{
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryContainer{
  margin: auto;
  width: 85%;
  margin-top: 60px;
  text-align: center;
  position: relative;
  display: inline-block; 

}

.galleryPhoto{
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative; 
  display: block;
  
}

.galleryPhoto img{
  height: 80px;
  width: 80px;
  border-radius: 10px;
}


.photoTag {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    height: 180px;
    text-align: center;
}

/* service part */
.service{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 80px;
}

.servicedetails{
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.sigleService img{
height: 200px;
width: 300px;
margin: 20px;
}

.sigleService button{
    background-color: transparent;
    border: 1px solid rgb(37, 141, 124);
    color: rgb(37, 141, 124);
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 
}

button:hover {
  background-color: rgb(37, 141, 124);
  color: white;
}


/* shop hardware */
.shopHardware{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
}

.quicklyCustomers{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.quicklyCustomerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quicklyCustomerLogo img{
  margin: 10px;
  margin-top: 80px;
  background-color: aliceblue;
}

.quicklySupport{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.supportSection{
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleSupport1{
  width: 350px;
  height: 300px;
  background-color: aqua;
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
.singleSupport2{
  width: 350px;
  height: 300px;
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
.singleSupport3{
  width: 350px;
  height: 300px;
  background-color: rgb(17, 148, 255);
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
.singleSupport4{
  width: 350px;
  height: 300px;
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.singleSupport1 i{
  font-size: 50px;
  margin-top: 40px;
}

.singleSupport2 i{
  font-size: 50px;
  margin-top: 40px;
}

.singleSupport3 i{
  font-size: 50px;
  margin-top: 40px;
}
.singleSupport4 i{
  font-size: 50px;
  margin-top: 40px;
}

/* footer section  */
.footerSection{
  background-color: black;
  width: 100%; 
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 60px;
}


.footerDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.footerDiv div{
  margin: 20px;
}


